* {
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}


$fuente-principal:'Shippori Mincho B1', serif;
$color-de-fondo: #05666C;
$color-de-titulo: #F8F8FA;
$color-de-fuente: #000000;


.body{
	font-family: $fuente-principal;
	background-color: $color-de-fondo;


}

$margen-minimo: 5px;
$margen-chico: 10px;
$margen-grande: 50px;

.h1{
	font-family: $fuente-principal;
	font-weight: bold;
	text-align: center;
	color: $color-de-titulo;

}
.h2{
	font-family: $fuente-principal;
	margin-top: $margen-chico;
	margin-left: $margen-chico;
	margin-bottom: $margen-grande;
	text-align:  left;
	grid-area:titulo;
	color: $color-de-fuente;

}

.h3{
	font-family: $fuente-principal;
	margin-top: $margen-chico;
	margin-bottom: $margen-grande;
	justify-content: left;
	color: $color-de-fuente;
}

.h4{
	font-family: $fuente-principal;
	margin-top: $margen-chico;
	margin-bottom: $margen-grande;
	justify-content: left;
	color: $color-de-fuente;
}

.mainContainer{
	margin: $margen-chico $margen-minimo;
	padding-left: $margen-chico;
	padding-top: $margen-chico;
	text-align: center;
	grid-area: content;


}

.mainContainer p{
	text-align: left;
}

iframe{
	grid-area:content;
	width: 600px;
	height: 400px;
}

@media only screen and (max-width: 768px) {
iframe{
	width: 100%;
	height: 300px;
}


}