$color-de-fondo-matchups: #b7b53c;

.mainContainer{

    background-color: $color-de-fondo-matchups;
    border-style: solid;
    border-radius: 19px;


}

.containerCajas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerCajasResults{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: c;
}
.unitBox1{
    margin-top: 10%;
    margin-left: 10%;
    grid-area: a;
}

.unitBox2{
    margin-top: 10%;
    margin-left: 10%;
    grid-area: b;
}

.resultBox1{
    align-items: center;
    flex-direction: column;
    display: flex;
}
.resultBox2{
    align-items: center;
    flex-direction: column;
    display: flex;
}
.explicacion{
    margin: 10%;
    grid-area: d;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.reports{
    margin: 10px 0px;
    text-align: center;
    font-family: monospace;
}

select{
    margin-bottom: 10px;
}

#selector_units{
    grid-area: a;
}