.mainContainer{
    display: grid;
    grid-template-areas: "a b c"
                         "d d d";
    background-color: #ff9321;
    border-style: solid;
    border-radius: 19px;


}

.containerCajas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containerCajasResults{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: c;
}
.unitBox1{
    margin-top: 10%;
    margin-left: 10%;
    grid-area: a;
}

.unitBox2{
    margin-top: 10%;
    margin-left: 10%;
    grid-area: b;
}

.resultBox1{
    align-items: center;
    flex-direction: column;
    display: flex;
}
.resultBox2{
    align-items: center;
    flex-direction: column;
    display: flex;
}
.explicacion{
    margin: 10%;
    grid-area: d;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}